global:
  scrape_interval: 10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
          - "127.0.0.1:9090"

  - job_name: "node"
    static_configs:
      - targets:
          - "127.0.0.1:9100"

  - job_name: "metrics-server"
    scrape_interval: 5s
    metrics_path: /metrics
    static_configs:
      - targets:
          - "127.0.0.1:3000"

rule_files:
  - "alerts.yml"

